{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'app_profiles/css.css' %}">
    <title>Title</title>
</head>
<body style="background-color: antiquewhite">
<div style="text-align: center">
    <h1 class="card-title-text-center">Страница товаров</h1>
</div>
<div class="personal-acc-container">
    {% for product in products %}
        <div class="personal-acc-text">
            <p>{{ product.title }}</p>
            <p>{{ product.description }}</p>
            <p>Купить за {{ product.price }} руб.</p>
            <p>Купить в {% for shop in product.shop_set.all %}
                <a href="{% url 'buy_product' shop.id product.id %}">{{ shop }}</a>
            {% endfor %}</p>
        </div>

    {% endfor %}
</div>
</body>
</html>